<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-ssh</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>24ECFCB6-4E68-46DA-83CC-AFB9A0397458</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E47AB43-D8E5-4D28-A2E8-DD0AF9CEDED0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BEDA7962-222B-4001-8A98-6EB2B78342AD</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>3AA31B78-5898-4B51-A25F-B970B140ECB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52720D61-C3AC-4297-8393-48F4D888BBED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4575A48A-57E5-4A98-AFD8-0F611206F38C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>042F981F-B8D7-44AA-9AA4-E9D14F71BF97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C8C4C70-0F15-4C08-8E71-27E886FFCB21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8C38C50-6B44-4FA1-B74B-511A8939E773</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52720D61-C3AC-4297-8393-48F4D888BBED</key>
		<array/>
		<key>6E47AB43-D8E5-4D28-A2E8-DD0AF9CEDED0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AA31B78-5898-4B51-A25F-B970B140ECB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8B1647C7-3F08-49D7-9C04-4447395B6CF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D02E857F-D8BD-4AE5-8764-71CFF97757CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7278AB1E-91D9-4CB7-BF1E-71C29D2F7B60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C246528B-48CD-4C6B-A6AA-5B80BD18802C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4C8C4C70-0F15-4C08-8E71-27E886FFCB21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B1647C7-3F08-49D7-9C04-4447395B6CF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4575A48A-57E5-4A98-AFD8-0F611206F38C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5A07BAF-5D27-4E64-BC61-717AC34E5153</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D05BB3AC-1409-4983-B5B1-9E1395C538C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEDA7962-222B-4001-8A98-6EB2B78342AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7278AB1E-91D9-4CB7-BF1E-71C29D2F7B60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C246528B-48CD-4C6B-A6AA-5B80BD18802C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC55D85A-7A17-4ACF-A406-B9F53CB22425</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D02E857F-D8BD-4AE5-8764-71CFF97757CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A62410B-26D8-493D-B57F-599DC4A36FD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D05BB3AC-1409-4983-B5B1-9E1395C538C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9ACEFF8-36DB-42A5-8FC1-95D9A77A7FBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6FCC74B-9EC0-47A6-8C0D-B445AD7C9722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24ECFCB6-4E68-46DA-83CC-AFB9A0397458</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Open SSH connections</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Secure SHell</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>ssh</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>C9ACEFF8-36DB-42A5-8FC1-95D9A77A7FBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Add URL to History
./assh remember "$url"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52720D61-C3AC-4297-8393-48F4D888BBED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A5A07BAF-5D27-4E64-BC61-717AC34E5153</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>EXTERNAL_TRIGGER</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D05BB3AC-1409-4983-B5B1-9E1395C538C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:source}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>user input</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3AA31B78-5898-4B51-A25F-B970B140ECB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ssh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading history…</string>
				<key>script</key>
				<string># Search all hosts
./assh search "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open SSH Connection</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24ECFCB6-4E68-46DA-83CC-AFB9A0397458</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>ERROR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>042F981F-B8D7-44AA-9AA4-E9D14F71BF97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>ssh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F6FCC74B-9EC0-47A6-8C0D-B445AD7C9722</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Open URL
./assh open "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4575A48A-57E5-4A98-AFD8-0F611206F38C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/-------- SSH ---------\
query="{query}"
variables=
{allvars}
\-------- SSH ---------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>6E47AB43-D8E5-4D28-A2E8-DD0AF9CEDED0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:shell_cmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8B1647C7-3F08-49D7-9C04-4447395B6CF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>1A62410B-26D8-493D-B57F-599DC4A36FD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:shell_cmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D02E857F-D8BD-4AE5-8764-71CFF97757CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Remove URL from History
./assh forget "$url"

# Send query to next action
echo -n "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BEDA7962-222B-4001-8A98-6EB2B78342AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	tell application "Alfred 3" to search "ssh " &amp; (first item of argv)
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EC55D85A-7A17-4ACF-A406-B9F53CB22425</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:EXTERNAL_TRIGGER}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C246528B-48CD-4C6B-A6AA-5B80BD18802C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7278AB1E-91D9-4CB7-BF1E-71C29D2F7B60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>ssh</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E8C38C50-6B44-4FA1-B74B-511A8939E773</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:EXTERNAL_TRIGGER}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>4C8C4C70-0F15-4C08-8E71-27E886FFCB21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Secure SHell
============

Rapidly open SSH/SFTP/mosh connections, with suggestions from  SSH configuration files and /etc/hosts.

Remembers connections with usernames, so you don't have to type your username every time.


Settings
--------

The workflow reads hosts from five sources:

- ~/.ssh/config
- ~/.ssh/known_hosts
- /etc/ssh/ssh_config
- /etc/hosts
- Its own history

You can disable any source by setting its corresponding Workflow Environment Variable to 1, so set DISABLE_ETC_HOSTS=1 to ignore /etc/hosts.

MOSH_CMD specifieds the path to the `mosh` executable. The default, "mosh", should work on most systems, as the command is passed to your terminal application.

To disable mosh, delete the value for MOSH_CMD.

Set EXIT_ON_SUCCESS to 0 to prevent the terminal closing if the ping/mosh command exits cleanly.


When removing a connection from the History, the workflow re-opens itself with the previous query.

The EXTERNAL_TRIGGER setting tells the workflow to re-open itself using the External Trigger instead of calling itself by keyword ("ssh").</string>
	<key>uidata</key>
	<dict>
		<key>042F981F-B8D7-44AA-9AA4-E9D14F71BF97</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Show error message if open fails</string>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>1A62410B-26D8-493D-B57F-599DC4A36FD1</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Alternate Action: Run shell command (e.g. ping or mosh)</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>24ECFCB6-4E68-46DA-83CC-AFB9A0397458</key>
		<dict>
			<key>note</key>
			<string>List and filter known SSH connections</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>3AA31B78-5898-4B51-A25F-B970B140ECB1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>User-entered host</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>4575A48A-57E5-4A98-AFD8-0F611206F38C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Open SSH/SFTP URL

Use SSH_APP and SFTP_APP workflow variables to change the application used</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>4C8C4C70-0F15-4C08-8E71-27E886FFCB21</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>External trigger is on</string>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>52720D61-C3AC-4297-8393-48F4D888BBED</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Remember connection in History (if there's a username)</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>6E47AB43-D8E5-4D28-A2E8-DD0AF9CEDED0</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>7278AB1E-91D9-4CB7-BF1E-71C29D2F7B60</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Set {query} from workflow variable</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>8B1647C7-3F08-49D7-9C04-4447395B6CF0</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Is not shell command</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>A5A07BAF-5D27-4E64-BC61-717AC34E5153</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Run workflow</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>BEDA7962-222B-4001-8A98-6EB2B78342AD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Alternate Action: Forget connection from History</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>C246528B-48CD-4C6B-A6AA-5B80BD18802C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>External trigger is off</string>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>C9ACEFF8-36DB-42A5-8FC1-95D9A77A7FBA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Call ssh External Trigger below</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>D02E857F-D8BD-4AE5-8764-71CFF97757CA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Is shell command</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>D05BB3AC-1409-4983-B5B1-9E1395C538C1</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Turn on External Trigger mode</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>E8C38C50-6B44-4FA1-B74B-511A8939E773</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Re-open Alfred with previous query (External Trigger).

Disabled by default. Set EXTERNAL_TRIGGER=1 in the Configuration Sheet to enable.</string>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>EC55D85A-7A17-4ACF-A406-B9F53CB22425</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Re-open Alfred with previous query (Direct Call).

Enabled by default. Set EXTERNAL_TRIGGER=1 in the Configuration Sheet to disable.</string>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>F6FCC74B-9EC0-47A6-8C0D-B445AD7C9722</key>
		<dict>
			<key>note</key>
			<string>Used (optionally) to re-open workflow after deleting a connection from History.</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DISABLE_CONFIG</key>
		<string>0</string>
		<key>DISABLE_ETC_CONFIG</key>
		<string>0</string>
		<key>DISABLE_ETC_HOSTS</key>
		<string>0</string>
		<key>DISABLE_HISTORY</key>
		<string>0</string>
		<key>DISABLE_KNOWN_HOSTS</key>
		<string>0</string>
		<key>EXIT_ON_SUCCESS</key>
		<string>1</string>
		<key>EXTERNAL_TRIGGER</key>
		<string>0</string>
		<key>MOSH_CMD</key>
		<string>mosh</string>
		<key>SFTP_APP</key>
		<string></string>
		<key>SSH_APP</key>
		<string></string>
	</dict>
	<key>version</key>
	<string>0.7.2</string>
	<key>webaddress</key>
	<string>https://github.com/deanishe/alfred-ssh</string>
</dict>
</plist>
