<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-ssh</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>24ECFCB6-4E68-46DA-83CC-AFB9A0397458</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83976B20-A05A-4429-8698-363973CC1793</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Open SSH connections</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Secure SHell</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ssh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading history…</string>
				<key>script</key>
				<string>./alfssh "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open SSH Connection</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24ECFCB6-4E68-46DA-83CC-AFB9A0397458</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>83976B20-A05A-4429-8698-363973CC1793</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Secure SHell
============

Rapidly open SSH connections, with suggestions from /etc/hosts and known_hosts.</string>
	<key>uidata</key>
	<dict>
		<key>24ECFCB6-4E68-46DA-83CC-AFB9A0397458</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>83976B20-A05A-4429-8698-363973CC1793</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DEMO_MODE</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DEMO_MODE</string>
	</array>
	<key>version</key>
	<string>0.3.0</string>
	<key>webaddress</key>
	<string>http://www.deanishe.net</string>
</dict>
</plist>
